@import "~bootstrap/scss/bootstrap.scss";

.btn-primary:focus, .btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}