.social {
    text-align: right;
    border-top: 1px solid $gray;
    padding: 2px 19px 5px 0;
    background-color: $background;

    svg {
        font-size: 13px;
        color: $black;
    }

    &__item {
        display: inline-block;
        text-align: center;
        margin: 0px 0 0 23px;

        &:hover * {
            color: $blue-light;
        }
    }

    &__name {
        display: block;
        font-size: 11px;
        color: $black;
    }
}