.story {
  position: relative;
  margin-bottom: 6px;
  background-color: white;
  border: 1px solid $gray;
  border-radius: 3px;

  dl {
    padding: 5px 100px 0 60px;
  }

  &__image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    overflow: hidden;
  }

  &__time {
    color: $text-light;
    font-size: 13px;
  }

  &__type {
    color: $blue-light;
  }
}

.collaps__wrapper {
  text-align: right;
  cursor: pointer;
}

.score {
  position: absolute;
  right: 18px;
  top: 10px;
  font-size: 14px;

  &__value {
    background-color: $green;
    color: white;
    margin-right: 20px;
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
  }
}

.button-toggle {
  border: 1px solid gray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  cursor: pointer;

  &.button-toggle__active {
    border-width: 1px 0 0 1px;
  }
}
