.header {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid $gray;
  position: relative;

  h1 {
    margin: 0 0 0 11px;
  }

  .user {
    display: flex;
    position: absolute;
    top: 13px;
    right: 6px;

    &__button {
      background: none !important;
      border: 0 !important;
      color: $black !important;
      font-size: 14px;
    }
  }
}
